*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    margin: 10px auto;
    padding: 10px 16px;
    border-radius: 10px;
    border: 3px outset black;
    background-color: antiquewhite;
}

button:hover {
    border: 3px inset black;
    background-color: rgb(254, 246, 237);
    cursor: pointer;
}

#container {
    height: 500px;
    width: 500px;
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 50px auto;
}

.row {
    display: flex;
    flex: auto;
    height: 100%;
}